* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-family-body);
  background-color: var(--color-bg);
  color: var(--color-text);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-body); /* Inter */
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading); /* Montserrat */
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: var(--font-family-body);
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-soft);
  transition: background-color 0.3s ease, color 0.3s ease;
}
