/* body {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
  box-sizing: border-box;
} */

/* SEKSTION 1 */
.hero_header {
  width: 100%;
  height: 90vh;
  background-image: url("../Mewe_billeder/IMG_9840.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  opacity: 75%;
}

.hero_header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_header__content {
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.hero_header__content h1 {
  font-size: 7rem;
  font-weight: 400;
  margin: 0;
  line-height: 3.5;
}

/* h2 under heroheaderen */
.hero_text_under {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
}

.hero_text_under h2 {
  font-size: 1.1em;
  line-height: 3em;
  color: #000;
}

/* SEKSTION 2 */
.om_os {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.om_os h1 {
  grid-column: 1 / -1;
  margin-bottom: 100px;
  margin-top: 20px;
  line-height: 2;
}

/* Billede */
.billede_1 img {
  width: 100%;
  height: auto;
  display: block;
}

/* Tekst + button */
.info_om_os {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SEKSTION 3 */
.find_os h1 {
  margin-bottom: 70px;
  margin-top: 50px;
  line-height: 2;
}

.lokationer-maps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: start;
}

.lokationer {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 240px;
  line-height: 1.8;
  margin-bottom: 200px;
}

.lokationer p {
  gap: 20px;
  line-height: 7;
  font-weight: var(--font-weight-bold);
}

.maps {
  justify-self: end;
  gap: 200px;
  display: flex;
  flex-direction: column;
}

.aabningstider {
  margin-top: -250px;
}

/* GENERAL */

main {
  background-color: #f1ebd9;
}

.section-line {
  width: 800px;
  height: 1.5px;
  background-color: #000;
  margin: 120px auto;
  opacity: 0.3;
}

.section2,
.section3 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Mobil Version */

@media (max-width: 768px) {
  .om_os {
    grid-template-columns: 1fr;
  }

  .om_os h1 {
    grid-column: 1;
  }
}
