/* body { */
/* max-width: 1200px; Bredden på hele siden */
/* margin: 0 auto; Centrerer indholdet */
/* padding: 0 20px; Luft på siderne på små skærme */
/* box-sizing: border-box; */
/* } */

.section2,
.section3 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* SEKSTION 1 */
.hero_header {
  width: 100%;
  height: 90vh;
  background-image: url("../Mewe_billeder/IMG_9840.jpeg"); /* hero header billede */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  opacity: 80%;
}

.hero_header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_header__content {
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.hero_header__content h1 {
  font-size: 10rem; /* ME&WE */
  font-weight: 200;
  margin: 0;
  line-height: 2;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

/* h2 under heroheaderen */
.hero_text_under {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
}

.hero_text_under h2 {
  font-size: 1.1em;
  line-height: 3em;
  color: #000;
}

/* SEKSTION 2 */
.om_os {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* Sørger for at overskriften går over begge kolonner */
.om_os h1 {
  grid-column: 1 / -1;
  margin-bottom: 100px;
  margin-top: 50px;
  line-height: 2;
}

/* Billede */
.billede_1 img {
  width: 100%;
  height: auto;
  display: block;
}

/* Tekst + button */
.info_om_os {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* SEKSTION 3 */
.find_os h1 {
  margin-bottom: 120px;
  margin-top: 170px;
  line-height: 2;
}

.lokationer-maps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px; /* Afstand mellem adresse og kort */
  align-items: start;
}

.lokationer {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 300px; /* Afstand mellem hver adresse */
  line-height: 1.8;
}

.lokationer p {
  gap: 200px;
  line-height: 5;
}

.maps {
  justify-self: end;
}

.section3 {
  margin-bottom: 100px;
}

.maps iframe {
  display: block;
  margin-bottom: 150px; /* juster afstand */
}

.stedet {
  margin-bottom: -600px;
}
/* GENERAL */

main {
  background-color: #f1ebd9;
}

.section-line {
  width: 800px;
  height: 1.5px;
  background-color: #000;
  margin: 120px auto;
  opacity: 0.3;
}

/* Mobil Version */

@media (max-width: 768px) {
  .om_os {
    grid-template-columns: 1fr;
  }

  .om_os h1 {
    grid-column: 1;
  }
  .lokationer-maps {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 40px; /* Afstand mellem adresse og kort */
    align-items: start;
  }
  .om_os h1 {
    /* grid-column: 1 / -1; */
    margin-bottom: 100px;
    margin-top: 50px;
    line-height: 2;
  }
  .om_os {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    gap: 40px;
    align-items: center;
  }
}
