section,
header {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

.section-title {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* NAV */
/* ===== NAVBAR ===== */
.navbar {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

/* gem default tjekbox */
#menu-toggle,
#drop-toggle {
  display: none;
}

/* Menu desktop */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  padding: 10px 0;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  padding: 10px 20px;
}

/* Desktop hover dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Mobile styling */
@media (max-width: 850px) {
  .burger {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    padding: 20px 0;
    border-top: 1px solid #eee;
  }

  #menu-toggle:checked + .burger + .menu {
    display: flex;
  }

  .dropdown-menu {
    position: static;
    border: none;
    box-shadow: none;
  }

  .drop-btn {
    font-weight: bold;
    cursor: pointer;
    display: block;
    padding: 10px 20px;
  }

  #drop-toggle:checked + .drop-btn + .dropdown-menu {
    display: block;
  }

  .dropdown:hover .dropdown-menu {
    display: none;
  }
}

nav a {
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
}

/* KONCEPT GRID */
.concept-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.concept-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-size: 1.1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* VÆRDIER GRID */
.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.value-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.value-card h3 {
  margin-top: 0;
}
/* TEAM GRID */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.team-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.team-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}
