.bestil {
  width: fit-content;
  background-color: #d45a33;
  border-radius: 70px;
  padding: 10px 50px;
  text-decoration: none;
  color: #fff;
  justify-self: right;
}

.bestil a {
  font-family: helvetica neue;
}

.bhanmi img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bhanmi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.pb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}

.pb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
