/* MAX WIDTH */
main {
  max-width: 1600px;
  margin: 0 auto;
}
/* BHAN MI GRID */

.bhanmi img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
@media (width>=800px) {
  .bhanmi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    padding-bottom: 7rem;
  }
}

/* POKE BOWL GRID */
@media (width>=800px) {
  .pb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    padding-bottom: 20rem;
  }
}

.sunny {
  grid-row: 3;
}
.tuna {
  grid-row: 3;
}
.sesam {
  grid-row: 3;
}

.pb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
/* TITLER OG TEKST PADDING OG MARGIN */
.produkttitle {
  margin: 1rem;
}

.bhanmi p {
  margin: 1rem;
}

.pb p {
  margin: 1rem;
}

.bmtitle {
  margin: 1rem;
  padding-bottom: 30px;
}

.bmtitle2 {
  margin: 1rem;
  padding-top: 100px;
  padding-bottom: 30px;
}

/* BUBBLE TEA SECTION */
