/* GRID */
/* @media (max-width: 768px) {
  .bhanmi {
    display: grid;
    grid-template-columns: 1fr;
  }
  .pb {
    display: grid;
    grid-template-columns: 1fr;
  }
} */

.bestil a {
  font-family: helvetica neue;
}
.bhanmi img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bhanmi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding-bottom: 7rem;
}

.pb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  padding-bottom: 20rem;
}

.pb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.produkttitle {
  margin: 1rem;
}

.bhanmi p {
  margin: 1rem;
}

.pb p {
  margin: 1rem;
}

.bmtitle {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
